@model WebshopTemplate.ViewModels.Products.ProductOverviewViewModel_Default;

@{
    ViewData["Title"] = "Products";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>All products</h1>
<div class="row">
    <div class="col-md-3 border-right">
        Filter
    </div>
    <div class="col-md-9">
        <ul class="list-unstyled row">
            @foreach(Product product in Model.Products)
            {
                <li class="col-md-3">
                    <div class="productcard text-center border rounded">
                        <a asp-action="Details" asp-route-id="@product.Id" />
                        <img src="@string.Format("data:image/png;base64,{0}", product.Images[0].Base64)" style="width:100px;height:100px;"/>
                        <p>@product.Name</p>
                    </div>
                </li>
            }
        </ul>
    </div>
</div>